html {
        /*эти два цвета подставляются в переменную --color для инвертирования цвета*/
        --dark-color: #1c1a1a;
        --light-color: #e4dff1;

        /*эти переменные меняются*/
        --bg-color: var(--light-color); /*относительно выбранного предмета*/
        --txt-color: var(--dark-color); /*при изменении --bg-color она становится либо white либо black*/

}
